### Migration data preparation

**Description:** Visualization and preparation of Migration data dataset<br>
**Datasets:** https://stats.oecd.org/Index.aspx?DataSetCode=MIg<br>
                    https://UN.org <br>
**Author:** Jaume Manero<br>

In [1]:
import pandas as pd

In [5]:
df_world = pd.read_csv('./data/MIG-en.csv')
df_world.columns

/home/manero/DL/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Index(['CO2', 'VAR', 'GEN', 'COU', 'YEA', 'Value', 'Flag Codes'], dtype='object')

In [ ]:
# Metadata information : https://www.oecd.org/sdd/33869551.pdf
#
# CO2 : Country of Origin
# VAR : 
#   [B11] Inflows of foreign population by nationality
#   [B12] Outflows of foreign population by nationality
#   [B13] Inflows of asylum seekers by nationality
#   [B14] Stock of foreign-born population by country of birth
#   [B15] Stock of foreign population by nationality
#   [B16] Acquisition of nationality by country of former nationality
#   [B21] Inflows of foreign workers by nationality
#   [B22] Inflows of seasonal foreign workers by nationality
#
# GEN : <needs some homogeneization>
#    TOT : Total
#    WMN : Women
#    WOMEN : Women
#    TOTAL : Total
# Flag Codes: <ignore>
#   b : break
#   e : estimate

In [19]:
df_world['YEA'].value_counts()

2011    51605
2010    50478
2009    48102
2008    46585
2012    46563
2007    43893
2006    43354
2013    40006
2005    38800
2004    37170
2003    35978
2002    35744
2001    33602
2000    32704
1999    25804
1998    22161
1997    16012
1996    11843
1995     6873
1994     3040
1993     2667
1992     2299
1991     2152
1990     1637
1989     1317
1988     1212
1986     1017
1987      961
1985      824
1984      562
1982      289
1981      262
1983      246
1980      182
1975       30
1976        1
1977        1
1978        1
1979        1
Name: YEA, dtype: int64

In [18]:
df_world['Flag Codes'].value_counts()

b    630
e    421
Name: Flag Codes, dtype: int64

In [17]:
df_world['GEN'].value_counts()

TOT      439808
WMN      244742
TOTAL      1414
WOMEN        14
Name: GEN, dtype: int64